
*{
	margin: 0;
	padding: 0;
}
body{
	background-image: url(../img-svg/font.png);
}
.fluxin{
	background-color:#474a56;
	padding: 20px;
	border-radius: 5px;
}
.fluxin-dark{
	background-color:#000b09;
	padding: 20px;
	border-radius: 5px;
}
.fluxin-normal{
	background-color:#474a60;
	padding: 20px;
	border-radius: 5px;
}
.fluxin-normal-exepcion{
	background-color:#474a60
	
	border-radius: 5px;
}
.fluxfont{
	color: #d3d5fd;
}
.colcenter{
	text-align: center;
}
.col-just{
	text-align: justify-all;
}
.colorsolido{
	width: 300px;
	position: absolute;
	background-color: black;
}
.imagen_photo{
	margin: 10px 0 40px 0;
	background-color:#F3F5FA;
	padding: 10px;
	border-radius: 5px;
}